body {

    background-image: url("/image/background1.png");

}

.jumbotron {
    font-size: 15px;
    padding: 30px;
    text-align: center;
    color: red;
    width: 100%;
    background: url("/image/lapangan2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-weight: bolder;

}




a {
    font-size: 16px;
    font-size: bolder;
}

a:hover {
    font-weight: bold;


}




.card-image {
    position: center;
}



h2,
h4,
h5,
h6 {
    text-align: center;
}

p {
    text-align: center;
}

footer {
    bottom: 0px;
    color: white;
    background: linear-gradient(to right, #660066 0%, #333300 100%);
    text-align: justify;
    font-weight: bold;
    width: 100%;
    margin-top: 30px;
}



@media screen and (max-width: 1000px) {

    header,
    .jumbotron,
    body,
    .card-content,
    footer {
        width: 100%;
        height: auto;
        text-align: justify;
        text-justify: auto;

    }
}